<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <title>Breed Portfolio - Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href='/static/css/themify-icons.css'>
    <link rel="stylesheet" href='/static/vendors/owl-carousel/owl.theme.default.min.css'>
    <link rel="stylesheet" href='/static/vendors/fontawesome/css/all.min.css'>
    <link rel="stylesheet" href='/static/vendors/owl-carousel/owl.carousel.min.css'>
    <link rel="stylesheet" href='/static/vendors/nice-select/css/nice-select.css'>
    <!-- main css -->
    <link rel="stylesheet" href='/static/css/style.css'>
  </head>
  <body>

    <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="#"><img src='#' alt="my logo here"></a>
            <a class="navbar-brand logo_inner_page" href="#"><img src='My logo here' alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav">
                <li class="nav-item active"><a class="nav-link" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="portfolio/portfolio.html">My work</a></li>

                <li class="nav-item"><a class="nav-link" href="blog/blog.html">Blog</a></li>

                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Category</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="#">Python</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">html</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">css</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content text-center">
            <h2>Our Blog</h2>
            <div class="page_link">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'blog' %}">Blog</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area section-margin">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <!-- asas -->
            <div class="blog_left_sidebar">
                <article class="blog_item">
                  <div class="blog_item_img">
                    <img class="card-img rounded-0" src="/static/img/blog/blog1.png" alt="" height="450px">
                    <a href="#" class="blog_item_date">
                      <h3>April</h3>
                      <p>12</p>
                    </a>
                  </div>
            
                  <div class="blog_details">
                      <a class="d-inline-block" href="single-blog.html">
                          <h2>How to cook</h2>
                      </a>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque laboriosam praesentium aperiam consequatur, maxime molestias, quia iure placeat facere, quisquam voluptatem a iusto accusamus consectetur quaerat dolore nihil nostrum. Et voluptate fugit esse ab officia sed magni dolores corporis nisi asperiores, quasi, consequatur, rem sit. Incidunt odio repudiandae molestias eos explicabo architecto neque itaque aliquid provident! Ad laboriosam pariatur odio optio qui ducimus nisi ipsum a voluptatem ratione! Magni officiis saepe enim perspiciatis. Impedit aperiam assumenda est. Fuga fugit unde porro alias, enim maiores inventore dolore assumenda nostrum corporis aut modi non voluptatibus deserunt omnis cumque, provident possimus, quia nihil.</p>
                      <ul class="blog-info-link">
                        <li><a href="#"><i class="far fa-user"></i>YAsh Patel</a></li>
                        <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                      </ul>
                  </div>
                </article>

                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- asas -->
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
              <aside class="single_sidebar_widget search_widget">
                <form action="{% url 'search' %}" method="post">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search Keyword" name="keyword">
                      <div class="input-group-append">
                        <button class="btn" type="submit"><i class="ti-search"></i></button>
                      </div>
                    </div>
                  </div>
                  <button class="primary_btn rounded-0 primary-bg text-white w-100" type="submit">Search</button>
                </form>
              </aside>

              <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title">Category</h4>
                <ul class="list cat-list">
                  <li>
                    <a href="{% url 'category-post' category.id %}" class="d-flex">
                      <p>Html(2)</p>
                    </a>
                  </li>
                </ul>
              </aside>

              <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title">Recent Post</h3>
                <div class="media post_item">
                  <img src="/static/img/blog/blog1.png" alt="post" height="80" width="80">
                  <div class="media-body">
                    <a href="{% url 'blog-details' r_post.id %}">
                      <h3>How to cook ?</h3>
                    </a>
                    <p>April 21</p>
                  </div>
                </div>
              </aside>

              <aside class="single_sidebar_widget tag_cloud_widget">
                <h4 class="widget_title">Tag Clouds</h4>
                <ul class="list">
                  <li>
                    <a href="#">python</a>
                  </li>
                  <li>
                    <a href="#">html</a>
                  </li>
                  <li>
                    <a href="#">css</a>
                  </li>
                  <li>
                    <a href="#">scss</a>
                  </li>
                </ul>
              </aside>


              <aside class="single_sidebar_widget instagram_feeds">
                <h4 class="widget_title">Instagram Feeds</h4>
                <ul class="instagram_row flex-wrap">
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i1.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i2.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i3.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i4.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i5.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img class="img-fluid" src="/static/img/instagram/widget-i6.png" alt="">
                    </a>
                  </li>
                </ul>
              </aside>

              <aside class="single_sidebar_widget newsletter_widget">
                <h4 class="widget_title">Newsletter</h4>

                <form action="#">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter email" required>
                  </div>
                  <button class="primary_btn rounded-0 primary-bg text-white w-100" type="submit">Subscribe</button>
                </form>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="footer_top flex-column">
              <div class="footer_logo">
                <a href="#">
                  <img src="/static/img/logo2.png" alt="logo">
                </a>
                <div class="d-lg-block d-none">
                  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                    <div class="collapse navbar-collapse offset">
                      <ul class="nav navbar-nav menu_nav mx-auto">
                        <li class="nav-item"><a class="nav-link text-white" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">BLog</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Services </a></li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="footer_social mt-lg-0 mt-4">
                <a href="https://www.facebook.com/sajib1066" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/sajib1066" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://join.skype.com/invite/frQeKWH37d6y" target="_blank"><i class="fab fa-skype"></i></a>
                <a href="https://github.com/sajib1066" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/sajib1066/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCsYH30yFN391zg-UUQ8BhTw" target="_blank"><i
                    class="ti-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row footer_bottom justify-content-center">
          <p class="col-lg-8 col-sm-12 footer-text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/stellar.js"></script>
    <script src="/static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/static/vendors/isotope/isotope-min.js"></script>
    <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/static/js/gmaps.min.js"></script>
    <script src="/static/js/theme.js"></script>

  </body>

</html>